TUT4/Tutorato4_XML_SAXLibro/libro.dtd

<?xml encoding="UTF-8"?> 
<!ELEMENT libro (prefazione?,indice,capitolo+)>
  <!ATTLIST libro titolo CDATA #REQUIRED>
  <!ATTLIST libro autore CDATA #REQUIRED>
  <!ATTLIST libro editore CDATA #REQUIRED>
<!ELEMENT prefazione (#PCDATA)>
  <!ATTLIST prefazione autore CDATA #IMPLIED>
<!ELEMENT indice (titolo+)>
<!ELEMENT capitolo (#PCDATA)>
<!ELEMENT titolo (#PCDATA)>
